<nav id='navbar' class="navbar py-4 navbar-expand-lg navbar-light bg-light d-flex justify-content-center">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">Home </a>
        <div class="input-group">
        <input id="profile_name_input" type="text" class="form-control" placeholder="Search for user" aria-label="Search for user" aria-describedby="basic-addon2" style='width: 40vw;'>
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="search_profile()">Search</button>
        </div>
        </div>
        <a class="nav-item nav-link" href="/users/logout">Logout</a>
    </div>
</nav>