* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    margin: auto;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.list-group-item-left {
    /* border: solid black 1mm; */
    background-image: linear-gradient(to right, rgb(121, 197, 121), white, white);
}

.list-group-item-right {
    /* border: solid black 1mm; */
    background-image: linear-gradient(to right, white, white, rgb(121, 197, 121));
}