* {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.container {
    width: 30%;
}
